/* palette: https://paletton.com/#uid=23F0u0kDEvycgMPoKCZIPm4TIaL */

html {
    --background: 247, 247, 247;
    --outline: 187, 187, 187;
    --on-dark: 255, 255, 255;
    --on-light: 0, 0, 0;

    --primary-light: 141, 172, 217;
    --primary-semilight: 56, 110, 190;
    --primary: 11, 73, 166;
    --primary-semidark: 6, 50, 116;
    --primary-dark: 1, 24, 57;

    --secondary-light: 255, 219, 157;
    --secondary-semilight: 255, 182, 58;
    --secondary: 251, 159, 0;
    --secondary-semidark: 176, 111, 0;
    --secondary-dark: 86, 54, 0;
}

html, body {
    width: 100%;
    color: rgb(var(--on-light));
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(var(--background));
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 1em 2em;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: rgb(var(--secondary-dark)) solid underline;
    color: rgb(var(--secondary-semidark));
}

.emph {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

footer {
    border-top: 1px solid rgb(var(--outline));
    padding: 0.5em;
    font-size: 0.95em;
    color: rgb(var(--secondary-dark));
    text-align: center;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(var(--primary));
    color: rgb(var(--on-dark));
    padding: 0.3em 0.6em;
    border: 3px solid rgba(var(--secondary-semidark), 0.3);
    border-radius: 5px;
    transition-property: background-color, color, padding-right;
    transition-duration: 0.2s;
    transition: background-color, 0.2s;
}

button:not(:disabled):hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-semilight));
    color: rgb(var(--on-light))
}


button:disabled {
    background-image: url("/static/spinner.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-right: 2em !important;
    background-color: rgb(var(--primary-semidark));
}

/* region header */
@media screen and (min-width: 750px) {
    header {
        justify-content: space-between;
        font-size: 1.1em;
    }

    #header-left > :last-child, #header-center {
        border-bottom-right-radius: 10px;
    }

    #header-center, #header-right > :last-child {
        border-bottom-left-radius: 10px;
    }
}

@media screen and (max-width: 749px) {
    header > * {
        flex-grow: 1;
    }

    header > *:not(:last-child) {
        border-right: 1px solid rgb(var(--primary-dark));
    }

    header > :last-child {
        font-size: 0.9em;
    }

    #header-left > * {
        justify-content: left !important;
    }
}

header {
    display: flex;
    align-items: stretch;
}

header a, header span {
    background-color: rgb(var(--secondary-semilight));
    font-family: 'Open Sans', sans-serif;
    color: rgb(var(--primary));
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s;
}

header a:hover, header a:hover span {
    background-color: rgb(var(--secondary)) !important;
    color: rgb(var(--on-dark)) !important;
    cursor: pointer !important;
}


#header-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header-center span {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.3em;
}

header img {
    width: 5em;
}

#header-left, #header-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header-right > *, #header-left > * {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 1em;
    padding-right: 1em;
}

#header-right span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* endregion */
/* region modal */

.modal-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(var(--primary-semidark), 0.4);
}

.modal-wrapper > div {
    background-color: rgb(var(--background));
    margin: 5% auto;
    padding: 1.5em;
    border: 1px solid rgb(var(--outline));
    width: 80%;
    min-height: 5em;
}

.modal-close {
    color: rgb(var(--primary-semidark));
    float: right;
    font-size: 3em;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: rgb(var(--primary-dark));
    text-decoration: none;
    cursor: pointer;
}

/* endregion */
/* region services menu */

#services-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

#services-container > div {
    padding: 1em;
    background-color: rgb(var(--secondary-semilight));
    box-shadow: 2px 2px 6px rgb(var(--secondary-semidark));
    border-radius: 2px;
    margin: 1em;
}

/* endregion */