{% extends "mail/_base_mail.html" %}
{% block body %}
    <p>Hello,</p>
    <p>
        Somebody (most likely you) just requested password reset for account on
        homework-f.ml with this email address. If it was you, click the following link
        to set your new password:
    </p>
    <p style="font-size: 0.85em;"><a href="{{ token }}">{{ token }}</a></p>
    <p>
        In case it wasn't you, you don't need to take any action. Your password and
        account are safe.
    </p>
    <p>
        Best regards,<br/>
        Matěj from Homework – Fully Merged List
    </p>
{% endblock %}