<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Homework – FML{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}"/>
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for("static", filename="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for("static", filename="favicon-16x16.png") }}">
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"
            type="text/javascript"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <a href="{{ url_for("homepage") }}">Homework – Fully Merged List</a>
    | More stuff might be added here
    {% if current_user.is_authenticated %}
        | <a onclick="log_out()">Log out</a>
    {% else %}
        | <a href="{{ url_for("user.login") }}">Log in</a>
        | <a href="{{ url_for("user.register") }}">Register</a>
    {% endif %}
</header>
<main>
    {% block body %}
    {% endblock %}
</main>
<script type="text/javascript">
    const csrf_token = "{{ csrf_token() }}";
    $(function () {
        {% if onload_message %}
            alert("{{ onload_message }}");
        {% endif %}
        {% for message in get_flashed_messages() %}
            alert("{{ message }}");
        {% endfor %}
    });

    function log_out() {
        $.post("{{ url_for("api.logout") }}", {csrf_token: csrf_token}, function (data) {
            if (data.ok) {
                window.location.href = "{{ url_for("user.login") }}";
            } else {
                alert("Something went wrong.");
            }
        })
    }
</script>
<script type="text/javascript"
        src="{{ url_for("static", filename="main.js") }}"></script>
{% block end %}
{% endblock %}
</body>
</html>
