{% extends "_base.html" %}
{% block head %}
    <script type="text/javascript"
            src="{{ url_for("static", filename="main.js") }}"></script>
    {% for service_name in config["SERVICES"] %}
        <script type="text/javascript"
                src="{{ url_for("static", filename="services/main_page/{0}.js".format(service_name)) }}"></script>
    {% endfor %}
{% endblock %}
{% block body %}
    <button id="request-import">Import new tasks from all services</button>
    <div id="main-list">
        Tasks are loading, please wait...
    </div>
{% endblock %}