{% extends "_base.html" %}
{% block head %}
    {% for service_name in config["SERVICES"] %}
        <script type="text/javascript"
                src="{{ url_for("static", filename="services/menu/{0}.js".format(service_name)) }}"></script>
    {% endfor %}
{% endblock %}
{% block body %}
    <p>Here you can add and manage the services to import your tasks from</p>
    {% for service_name in config["SERVICES"] %}
        <div class="service-management-box">
            <span class="service-name">{{ service_name }}</span>
            {% include "services/menu/{0}.html".format(service_name) %}
        </div>
    {% endfor %}
{% endblock %}