{% extends "_base.html" %}
{% block body %}
    <p>Welcome! Some landing page with info about this application will be here.</p>
    <p>
        Don't like what you see? I'm looking for a frontend
        <a href="https://github.com/mvolfik/homework-fml" target="_blank">contributor</a>! Feel free to
        contact me on Telegram <a href="https://t.me/mvolfik" target="_blank">@mvolfik</a> or via
        <a href="https://mailhide.io/e/a9rVH"
           onclick="mailhidepopup=window.open('https://mailhide.io/e/a9rVH','mailhidepopup','width=580,height=635'); return false;">email</a>
        (click to reveal).
    </p>
{% endblock %}